@media screen and (max-width: 1400px) {
  nav {
    button {
      display: block;
    }

    .navdisabledlink {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    .allMovie {
      .movie {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    .header-text {
      height: 100%;
      margin-top: 0px !important;
      padding: 0px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        text-align: center;
      }
    }
  }
  nav {
    position: fixed;
    justify-content: center;
    display: flex;
    background-color: #282828;
    z-index: 10;
    gap: 15px;
    top: 0px;
    svg {
      display: block;
      color: #fff;
      font-size: 23px;
    }
  }
  header {
    .header-text {
      margin-top: 150px;
    }
  }
  .allMovie {
    .movie-info {
      .movie-buttons {
        transform: translateX(499px);
        transition: 0.1s;
      }
    }
    .movie:hover {
      .movie-buttons {
        transform: translateY(0px) !important;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  main {
    input {
      width: 80%;
    }
    header {
      .header-text {
        h1 {
          width: 100%;
          font-size: 20px;
          line-height: unset;
        }
        .flex {
          p {
            margin: 0px 10px 15px 10px;
          }
        }
      }
    }
    h1,
    input {
      display: block;
      text-align: center;
      margin: 30px auto !important;
    }
    .allMovie {
      .movie {
        width: 90%;
      }
    }
  }
}
