header {
  width: 100%;
}
nav {
  background-color: black;
  padding: 32px;
  width: 100%;
  ul {
    display: flex;
    gap: 20px;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}
