@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App {
  display: flex;
  height: 100%;
}
#root {
  overflow: hidden;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
  font-size: 40px;
}
img {
  object-fit: cover;
}
h2,
a {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}
h3 {
  color: rgb(208, 208, 208);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
p {
  color: rgb(208, 208, 208);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

/* https://image.tmdb.org/t/p/w1280 */
